// Protocol theme for Firefox branded websites.
//
// Distinguishing features:
//  * Titles are set in Metropolis
//  * Title type scale is proportioned to Metropolis
//  * Text is color-ink-80 (dark purple)

// temporary until we can update tokens
$font-stack-base: Inter, X-LocaleSpecific, sans-serif;
$font-stack-firefox: Metropolis, Inter, X-LocaleSpecific, sans-serif;
$font-stack-mozilla: 'Zilla Slab', Inter, X-LocaleSpecific, sans-serif;

$image-path: '../img' !default;
$font-path: '../fonts' !default;

// Fonts
@import 'includes/fonts/inter';
@import 'includes/fonts/metropolis';


$theme-fonts: (
    title-font-family: $font-stack-firefox,
    body-font-family: $font-stack-base,
);

$theme-colors: (
    background-color: $color-white,
    background-color-alt: $color-light-gray-10,
    background-color-dark: $color-ink-80,
    title-text-color: $color-ink-80,
    title-text-color-light: $color-white,
    body-text-color: $color-ink-80,
    body-text-color-alt: $color-ink-70,
    body-text-color-light: $color-white,
    link-color: $color-link,
    link-color-visited: $color-link-visited,
    link-color-hover: $color-link-hover,
    link-color-light: $color-blue-20,
    link-color-visited-light: $color-purple-20,
    link-color-hover-light: $color-blue-10,
    link-color-visited-hover-light: $color-purple-10,
);

$theme-type-scale: (
    title-xxl-size: 64px,
    title-xxl-line-height: 1.125,
    title-xl-size: 56px,
    title-xl-line-height: 1.143,
    title-lg-size: 48px,
    title-lg-line-height: 1.166,
    title-md-size: 40px,
    title-md-line-height: 1.1,
    title-sm-size: 32px,
    title-sm-line-height: 1.125,
    title-xs-size: 24px,
    title-xs-line-height: 1.166,
    title-xxs-size: 20px,
    title-xxs-line-height: 1.2,
    title-xxxs-size: 16px,
    title-xxxs-line-height: 1.25,
    body-xl-size: 21px,
    body-lg-size: 18px,
    body-md-size: 16px,
    body-sm-size: 14px,
    body-xs-size: 12px,
    body-line-height: 1.5,
);

$theme: map-collect($theme-fonts, $theme-type-scale, $theme-colors);
