---
title: Themes
name: Themes
order: 2
---

<p>Protocol supports two distinct brands: Firefox and Mozilla.</p>

<p>The Mozilla brand is distinguished by the Zilla Slab typeface and a limited color palette, mostly black and white. The Firefox brand uses the Metropolis typeface and is much more colorful overall.</p>

<p>Our CSS framework achieves this by assigning variables to some style properties, then drawing from different sets of values to apply different styling based on which brand is represented on the page. These variables are collected into maps and we then use functions in SCSS to swap to a different map based on a single theme variable:</p>

<pre class="protosite-pattern-code"><code class="language-scss">$brand-theme: 'firefox';</code></pre>

<p>Protocol defaults to the Firefox brand "out of the box." If you use the packaged, pre-compiled CSS, you'll have everything you need for a Firefox-branded website without needing to compile the SCSS yourself. Though we still recommend doing your own compiling so you can import just the components you need. If you want to produce a Mozilla-branded website you'll need to compile the Protocol SCSS and change that <code>$brand-theme</code> variable:</p>

<pre class="protosite-pattern-code"><code class="language-scss">$brand-theme: 'mozilla';</code></pre>

<h2>Type scales</h2>

<p>Protocol uses a modular type scale with a range of predefined font sizes (to avoid sizing text willy nilly). Scale sizes and line heights are defined as part of the brand theme.</p>

<p>Additionally, there are two different scales available: a standard scale with large titles, appropriate for most general websites (like marketing sites, blogs, etc) and a condensed scale with smaller sizes more suitable for web applications.</p>

<p>Protocol defaults to the standard (big titles) type scale:</p>

<pre class="protosite-pattern-code"><code class="language-scss">$type-scale: 'standard';</code></pre>

<p>You can activate the condensed type scale by setting a variable when you compile the SCSS:</p>

<pre class="protosite-pattern-code"><code class="language-scss">$type-scale: 'condensed';</code></pre>
