// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

//* -------------------------------------------------------------------------- */
// Protocol theme for Firefox branded websites.
//
// Distinguishing features of this theme:
//  * Titles are set in Metropolis
//  * Title type scale is proportioned to Metropolis
//  * Text is color-ink-80 (dark purple)

// temporary until we can update tokens
$font-stack-base: Inter, X-LocaleSpecific, sans-serif;
$font-stack-firefox: Metropolis, Inter, X-LocaleSpecific, sans-serif;
$font-stack-mozilla: 'Zilla Slab', Inter, X-LocaleSpecific, sans-serif;

$image-path: '../img' !default;
$font-path: '../fonts' !default;

// If true, switch to the condensed type scale.
$theme-use-condensed-type-scale: false !default;

//* -------------------------------------------------------------------------- */
// Fonts

@import 'includes/fonts/inter';
@import 'includes/fonts/metropolis';

$theme-fonts: (
    title-font-family: $font-stack-firefox,
    body-font-family: $font-stack-base,
);


//* -------------------------------------------------------------------------- */
// Colors

$theme-colors: (
    background-color: $color-white,
    background-color-alt: $color-light-gray-10,
    background-color-inverse: $color-ink-80,
    title-text-color: $color-ink-80,
    title-text-color-inverse: $color-white,
    body-text-color: $color-ink-80,
    body-text-color-alt: $color-ink-70,
    body-text-color-inverse: $color-white,
    link-color: $color-link,
    link-color-visited: $color-link-visited,
    link-color-hover: $color-link-hover,
    link-color-visited-hover: $color-link-hover,
    link-color-inverse: $color-blue-20,
    link-color-visited-inverse: $color-purple-20,
    link-color-hover-inverse: $color-blue-10,
    link-color-visited-hover-inverse: $color-purple-10,
);


//* -------------------------------------------------------------------------- */
// Type scale
//
// These values are used by the type-scale() function
// defined in includes/functions/_typography.scss
//
// Avoid referencing these values directly; Use the function.

$theme-type-scale: (
    title-2xl-size: 64px,
    title-2xl-line-height: 1.125,
    title-xl-size: 56px,
    title-xl-line-height: 1.143,
    title-lg-size: 48px,
    title-lg-line-height: 1.166,
    title-md-size: 40px,
    title-md-line-height: 1.1,
    title-sm-size: 32px,
    title-sm-line-height: 1.125,
    title-xs-size: 24px,
    title-xs-line-height: 1.166,
    title-2xs-size: 20px,
    title-2xs-line-height: 1.2,
    title-3xs-size: 16px,
    title-3xs-line-height: 1.25,
    body-xl-size: 21px,
    body-lg-size: 18px,
    body-md-size: 16px,
    body-sm-size: 14px,
    body-xs-size: 12px,
    body-line-height: 1.5,
);


//* -------------------------------------------------------------------------- */
// Condensed Type scale
//
// This smaller scale is primarily intended for web apps.
// Use the standard type scale for marketing sites.
//
// The type-scale() function draws from this map
// to generate different sizing when
// $theme-use-condensed-type-scale is set to 'true'.
//
// Avoid referencing these values directly; Use the function.

$theme-type-scale-condensed: (
    title-2xl-size: 32px,
    title-2xl-line-height: 1.125,
    title-xl-size: 24px,
    title-xl-line-height: 1.166,
    title-lg-size: 21px,
    title-lg-line-height: 1.2,
    title-md-size: 18px,
    title-md-line-height: 1.2,
    title-sm-size: 16px,
    title-sm-line-height: 1.25,
    title-xs-size: 14px,
    title-xs-line-height: 1.25,
    title-2xs-size: 14px,
    title-2xs-line-height: 1.25,
    title-3xs-size: 14px,
    title-3xs-line-height: 1.25,
    body-xl-size: 18px,
    body-lg-size: 16px,
    body-md-size: 14px,
    body-sm-size: 12px,
    body-xs-size: 11px,
    body-line-height: 1.5,
);

$theme: map-collect($theme-fonts, $theme-type-scale, $theme-colors);
