@import '../protocol/includes/lib';

$theme-fonts: (
    title-font-family: $font-metropolis,
    body-font-family: $font-inter,
);

$theme-colors: (
    title-text-color: $color-ink-80,
    body-text-color: $color-ink-80,
);

$theme-type-scale: (
    title-xxl-size: 64px,
    title-xxl-line-height: 1.125,
    title-xl-size: 56px,
    title-xl-line-height: 1.143,
    title-lg-size: 48px,
    title-lg-line-height: 1.166,
    title-md-size: 40px,
    title-md-line-height: 1.1,
    title-sm-size: 32px,
    title-sm-line-height: 1.125,
    title-xs-size: 24px,
    title-xs-line-height: 1.166,
    title-xxs-size: 20px,
    title-xxs-line-height: 1.2,
    title-xxxs-size: 16px,
    title-xxxs-line-height: 1.25,
    body-xl-size: 21px,
    body-lg-size: 18px,
    body-md-size: 16px,
    body-sm-size: 14px,
    body-xs-size: 12px,
    body-line-height: 1.5,
);
