// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

//* -------------------------------------------------------------------------- */
// Theme test
@import '../protocol/includes/lib';
@import '../docs/protocol';
@import '../docs/protocol-extra';


body {
  font-family: map-get($theme-fonts, 'body-font-family');
  color: map-get($theme-colors, 'body-text-color');
  line-height: type-scale('body-line-height');
}

h1, h2, h3, h4, h5, h6 {
    font-family: map-get($theme-fonts, 'title-font-family');
    color: map-get($theme-colors, 'title-text-color');
}

.title {
    @include text-title-xxl;
    margin-bottom: .25em;
}

.intro {
    @include text-body-xl;
}

.note {
    @include text-body-xs;
}
