// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

/* -------------------------------------------------------------------------- */
// Typescale demo

@import '../protocol/includes/lib';
@import '../docs/protocol';
@import '../docs/protocol-extra';

body {
    background: repeating-linear-gradient(transparent, transparent 3px, rgba(0, 255, 255, .2) 4px, transparent 4px, transparent 7px, rgba(0, 255, 255, .4) 8px);
}

hr {
    margin: 40px auto;
    max-width: $content-max - (160px);
}

.scale-sample-title-xxl { @include text-title-xxl; }
.scale-sample-title-xl { @include text-title-xl; }
.scale-sample-title-lg { @include text-title-lg; }
.scale-sample-title-md { @include text-title-md; }
.scale-sample-title-sm { @include text-title-sm; }
.scale-sample-title-xs { @include text-title-xs; }
.scale-sample-title-xxs { @include text-title-xxs; }
.scale-sample-title-xxxs { @include text-title-xxxs; }
.scale-sample-body-xl { @include text-body-xl; }
.scale-sample-body-lg { @include text-body-lg; }
.scale-sample-body-md { @include text-body-md; }
.scale-sample-body-sm { @include text-body-sm; }
.scale-sample-body-xs { @include text-body-xs; }
.scale-sample-cta { @include text-body-cta; }

.label {
    @include text-body-sm;
    color: $color-marketing-gray-80;
    margin: 1em 0 .5em;
}

